body {
  margin: 0;
  overflow-y: hidden;
}

body, fieldset, label {
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow-y: auto;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Questrial', sans-serif;
  letter-spacing: 0.05em;
}

pre,
code {
  font-family: 'Roboto Mono', monospace;
}
