body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

#root {
  overflow-y: auto;
  height: 100vh;
}

h1, h2, h3, h4, h5 {
  font-family: 'Questrial', sans-serif;
  letter-spacing: 0.05em;
}

pre, code {
  font-family: 'Roboto Mono', monospace;
}
